* {
    box-sizing: border-box;
}
.header {
    border: black 2px solid;
}
body {

}
.header {
    max-width: 1280px;
    min-height: 324px;
    margin: auto;

}
.blog_1 {
    float: left;
    width: 50%;
    min-height: 324px;
    border: blueviolet 2px solid;

}
.blog_2 {
    float: right;
    width: 50%;
    min-height: 324px;
    border: red 2px solid;
}
h1 {

}